<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.greener">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:roundIcon="@mipmap/ic_main_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Greener">
        <activity
            android:name=".StoreDetailView"
            android:exported="false" />
        <activity
            android:name=".MediaDetailView"
            android:exported="false" />
        <activity
            android:name=".LikedMain"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SettingMain"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MediaMain"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HotelMain"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ShopMain"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FindPasswordActivity" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="swk1ubmhg2" />
    </application>

</manifest>